In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import os
import fnmatch
import errno    
import glob
from pysradb import SRAdb

/home/saket/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/saket/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
db = SRAdb('/home/saket/SRAmetadb.sqlite')

# List tables

In [3]:
sra_tables = db.list_tables()
sra_tables

['metaInfo',
 'submission',
 'study',
 'sample',
 'experiment',
 'run',
 'sra',
 'sra_ft',
 'sra_ft_content',
 'sra_ft_segments',
 'sra_ft_segdir',
 'col_desc',
 'fastq']

# List fields in a table

In [4]:
db.list_fields('study')

['study_ID',
 'study_alias',
 'study_accession',
 'study_title',
 'study_type',
 'study_abstract',
 'broker_name',
 'center_name',
 'center_project_name',
 'study_description',
 'related_studies',
 'primary_study',
 'sra_link',
 'study_url_link',
 'xref_link',
 'study_entrez_link',
 'ddbj_link',
 'ena_link',
 'study_attribute',
 'submission_accession',
 'sradb_updated']

# Describe columns in a table

In [5]:
db.desc_table('study')

   cid                  name dtype notnull dflt_value pk
0    0              study_ID  REAL       0       None  0
1    1           study_alias  TEXT       0       None  0
2    2       study_accession  TEXT       0       None  0
3    3           study_title  TEXT       0       None  0
4    4            study_type  TEXT       0       None  0
5    5        study_abstract  TEXT       0       None  0
6    6           broker_name  TEXT       0       None  0
7    7           center_name  TEXT       0       None  0
8    8   center_project_name  TEXT       0       None  0
9    9     study_description  TEXT       0       None  0
10  10       related_studies  TEXT       0       None  0
11  11         primary_study  TEXT       0       None  0
12  12              sra_link  TEXT       0       None  0
13  13        study_url_link  TEXT       0       None  0
14  14             xref_link  TEXT       0       None  0
15  15     study_entrez_link  TEXT       0       None  0
16  16             ddbj_link  TEXT       0       None  0
17  17              ena_link  TEXT       0       None  0
18  18       study_attribute  TEXT       0       None  0
19  19  submission_accession  TEXT       0       None  0
20  20         sradb_updated  TEXT       0       None  0

In [6]:
sorted(db.desc_table('sra_ft').name.tolist())

['SRR_bamFile',
 'SRX_bamFile',
 'SRX_fastqFTP',
 'adapter_spec',
 'anonymized_name',
 'base_caller',
 'bases',
 'center_project_name',
 'common_name',
 'description',
 'design_description',
 'experiment_ID',
 'experiment_accession',
 'experiment_alias',
 'experiment_attribute',
 'experiment_entrez_link',
 'experiment_name',
 'experiment_title',
 'experiment_url_link',
 'individual_name',
 'instrument_model',
 'instrument_name',
 'library_construction_protocol',
 'library_layout',
 'library_name',
 'library_selection',
 'library_source',
 'library_strategy',
 'multiplier',
 'number_of_levels',
 'platform',
 'platform_parameters',
 'primary_study',
 'qtype',
 'quality_scorer',
 'read_spec',
 'related_studies',
 'run_ID',
 'run_accession',
 'run_alias',
 'run_attribute',
 'run_center',
 'run_date',
 'run_entrez_link',
 'run_url_link',
 'sample_ID',
 'sample_accession',
 'sample_alias',
 'sample_attribute',
 'sample_entrez_link',
 'sample_name',
 'sample_url_link',
 'sequence_space',
 'spots',
 'sradb_updated',
 'study_ID',
 'study_abstract',
 'study_accession',
 'study_alias',
 'study_attribute',
 'study_description',
 'study_entrez_link',
 'study_name',
 'study_title',
 'study_type',
 'study_url_link',
 'submission_ID',
 'submission_accession',
 'submission_center',
 'submission_comment',
 'submission_date',
 'submission_lab',
 'taxon_id',
 'updated_date']

# Query

In [7]:
db.get_query('SELECT * FROM study LIMIT 3')

,broker_name,center_name,center_project_name,ddbj_link,ena_link,primary_study,related_studies,sra_link,sradb_updated,study_ID,...,study_accession,study_alias,study_attribute,study_description,study_entrez_link,study_title,study_type,study_url_link,submission_accession,xref_link
0,None,KEIO,Bacillus subtilis subsp. natto BEST195,None,None,None,None,None,2016-11-20 16:42:15,1.0,...,DRP000001,DRP000001,None,None,None,Bacillus subtilis subsp. natto BEST195 genome ...,Whole Genome Sequencing,None,DRA000001,pubmed: 20398357 || pubmed: 25329997
1,None,KEIO,Bacillus subtilis subsp. subtilis str. 168,None,None,None,None,None,2017-09-21 20:23:35,2.0,...,DRP000002,DRP000002,None,Whole genome resequencing of B. subtilis subti...,None,Model organism for prokaryotic cell differenti...,Whole Genome Sequencing,None,DRA000002,pubmed: 20398357
2,None,UT-MGS,Integrative Transcriptome Analysis,None,None,None,None,None,2016-11-20 16:42:16,3.0,...,DRP000003,DRP000003,None,Although recent studies have revealed that the...,None,Comprehensive identification and characterizat...,Transcriptome Analysis,DBTSS: http://dbtss.hgc.jp/,DRA000003,pubmed: 20400770

# Number of rows in each table

In [8]:
db.get_table_counts()

                   count
metaInfo               2
submission       1017441
study             161391
sample           4439622
experiment       5011580
run              5667504
sra              5568559
sra_ft           5568559
sra_ft_content   5568559
sra_ft_segments  3007295
sra_ft_segdir       1011
col_desc             129
fastq            5637550

# Which study types are the most prominent?

In [9]:
db.get_query('SELECT study_type AS StudyType, count(*) AS Number FROM "study" GROUP BY study_type order by Number DESC')

    Number                 StudyType
0    45968   Whole Genome Sequencing
1    44591                      None
2    38516                     Other
3    16149    Transcriptome Analysis
4    14415              Metagenomics
5      763       Population Genomics
6      607               Epigenetics
7      230          Exome Sequencing
8      110           Cancer Genomics
9       31   Pooled Clone Sequencing
10       9        Synthetic Genomics
11       1  Transcriptome Sequencing
12       1  Whole Genome Sequencing

# Which Sequencing Instruments are most common?

In [10]:
instruments = db.get_query('SELECT instrument_model AS "Instrument Model", count( * ) AS Experiments FROM "experiment" GROUP BY instrument_model order by Experiments DESC').sort_values(by=['Instrument Model'])
instruments

    Experiments                     Instrument Model
21         8704                               454 GS
32          986                            454 GS 20
9         49413                           454 GS FLX
50           10                          454 GS FLX
4        148483                  454 GS FLX Titanium
15        16702                          454 GS FLX+
13        23956                        454 GS Junior
53            1              AB 310 Genetic Analyzer
42          111             AB 3130 Genetic Analyzer
44           55           AB 3130xL Genetic Analyzer
43           71             AB 3500 Genetic Analyzer
49           14           AB 3500xL Genetic Analyzer
39          260             AB 3730 Genetic Analyzer
31         1168           AB 3730xL Genetic Analyzer
30         2111             AB 5500 Genetic Analyzer
24         5138           AB 5500xl Genetic Analyzer
40          203  AB 5500xl-W Genetic Analysis System
37          323               AB SOLiD 3 Plus System
19        11025                    AB SOLiD 4 System
41          153                  AB SOLiD 4hq System
51            3                   AB SOLiD PI System
34          501                      AB SOLiD System
35          483                  AB SOLiD System 2.0
29         2581                  AB SOLiD System 3.0
38          319                           BGISEQ-500
25         4276                    Complete Genomics
26         3937                    Helicos HeliScope
47           18                         HiSeq X Five
8         53240                          HiSeq X Ten
14        19075             Illumina Genome Analyzer
5        112444          Illumina Genome Analyzer II
7         63588         Illumina Genome Analyzer IIx
52            2        Illumina Genome Analyzer IIx
27         3675                    Illumina HiScanSQ
16        14584                  Illumina HiSeq 1000
20         9759                  Illumina HiSeq 1500
1       1352258                  Illumina HiSeq 2000
3        572648                  Illumina HiSeq 2500
23         6082                  Illumina HiSeq 3000
12        29911                  Illumina HiSeq 4000
2        634094                       Illumina MiSeq
54            1                      Illumina MiSeq
36          361                     Illumina MiniSeq
48           18                 Illumina NextSeq 500
46           41                               Ion S5
11        31574                      Ion Torrent PGM
22         8420                   Ion Torrent Proton
33          857                               MinION
6         89496                          NextSeq 500
28         3259                          NextSeq 550
18        12056                            PacBio RS
17        14435                         PacBio RS II
45           53                               Sequel
10        32933                          unspecified
0       1665711                                 None

# Which assays are most common?

In [11]:
assays = db.get_query('SELECT library_strategy AS "Library Strategy", count( * ) AS Runs FROM "experiment" GROUP BY library_strategy order by Runs DESC')
assays

          Library Strategy     Runs
0                     None  1665711
1                      WGS  1092231
2                 AMPLICON   690441
3                  RNA-Seq   627662
4                    OTHER   314145
5                      WXS   237358
6                    CLONE    89555
7                 ChIP-Seq    82832
8                POOLCLONE    53738
9            Bisulfite-Seq    32335
10                   SELEX    25875
11               miRNA-Seq    22405
12                     WGA    21078
13                 RAD-Seq    10290
14        Targeted-Capture     8427
15                ATAC-seq     6060
16               ncRNA-Seq     5360
17                     EST     3601
18                 RIP-Seq     3264
19  DNase-Hypersensitivity     2868
20               MeDIP-Seq     2442
21               MNase-Seq     2328
22                 MRE-Seq     2073
23                 FL-cDNA     2010
24                  Tn-Seq     1886
25                     WCS     1809
26                 MBD-Seq     1690
27                CLONEEND      523
28               FAIRE-seq      477
29                    Hi-C      323
30                     CTS      282
31                   other      214
32     Synthetic-Long-Read      195
33               FINISHING       40
34                ChIA-PET       30
35              VALIDATION       22

# List SRA Run table

In [12]:
df = db.sra_convert('SRP017942')
df

,study_accession,experiment_accession,experiment_title,run_accession,taxon_id,library_selection,library_layout,library_strategy,library_source,library_name,bases,spots,adapter_spec,avg_read_length
0,SRP017942,SRX217028,GSM1063575: 293T_GFP; Homo sapiens; RNA-Seq,SRR648667,9606,other,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,1806641316,50184481,None,36.0
1,SRP017942,SRX217029,GSM1063576: 293T_GFP_2hrs_severe_Heat_Shock; H...,SRR648668,9606,other,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,3436984836,95471801,None,36.0
2,SRP017942,SRX217030,GSM1063577: 293T_Hspa1a; Homo sapiens; RNA-Seq,SRR648669,9606,other,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,3330909216,92525256,None,36.0
3,SRP017942,SRX217031,GSM1063578: 293T_Hspa1a_2hrs_severe_Heat_Shock...,SRR648670,9606,other,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,3622123512,100614542,None,36.0
4,SRP017942,SRX217956,GSM794854: 3T3-Control-Riboseq; Mus musculus; ...,SRR649752,10090,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,594945396,16526261,None,36.0
5,SRP017942,SRX217957,GSM794855: 3T3-8hrs-mild-HS-Riboseq; Mus muscu...,SRR649753,10090,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,730843272,20301202,None,36.0
6,SRP017942,SRX217958,GSM794856: 3T3-2hrs-severe-HS-Riboseq; Mus mus...,SRR649754,10090,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,1785538908,49598303,None,36.0
7,SRP017942,SRX217027,GSM1063574: 3T3-Hsp70_inhibitor_3hr; Mus muscu...,SRR648666,10090,other,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,5932552920,148313823,None,40.0
8,SRP017942,SRX217959,GSM794857: 3T3-Control-Riboseq-rep2; Mus muscu...,SRR649755,10090,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,3713863640,92846591,None,40.0
9,SRP017942,SRX217960,GSM794858: 3T3-8hrs-mild-HS-Riboseq-rep2; Mus ...,SRR649756,10090,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,3967599960,99189999,None,40.0
10,SRP017942,SRX217961,GSM794859: 3T3-2hrs-severe-HS-Riboseq-rep2; Mu...,SRR649757,10090,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,3458211480,86455287,None,40.0
11,SRP017942,SRX217962,GSM794860: 3T3-8hrs-mild-2hrs-severe-HS-Ribose...,SRR649758,10090,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,None,3891505080,97287627,None,40.0
12,SRP017942,SRX217953,GSM794848: 3T3-Control-RNAseq; Mus musculus; R...,SRR649749,10090,cDNA,PAIRED -,RNA-Seq,TRANSCRIPTOMIC,None,1766712168,24537669,None,72.0
13,SRP017942,SRX217954,GSM794849: 3T3-8hrs-mild-HS-RNAseq; Mus muscul...,SRR649750,10090,cDNA,PAIRED -,RNA-Seq,TRANSCRIPTOMIC,None,1960403976,27227833,None,72.0
14,SRP017942,SRX217955,GSM794850: 3T3-2hrs-severe-HS-RNAseq; Mus musc...,SRR649751,10090,cDNA,PAIRED -,RNA-Seq,TRANSCRIPTOMIC,None,1393136640,19349120,None,72.0

In [13]:
df = db.sra_convert('SRP002605')
df

,study_accession,experiment_accession,experiment_title,run_accession,taxon_id,library_selection,library_layout,library_strategy,library_source,library_name,bases,spots,adapter_spec,avg_read_length
0,SRP002605,SRX021966,GSM546920: Footprint_mock_32hr_runs1-2,SRR057511,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546920: Footprint_mock_32hr_runs1-2,173069316,4807481,None,36.0
1,SRP002605,SRX021966,GSM546920: Footprint_mock_32hr_runs1-2,SRR057512,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546920: Footprint_mock_32hr_runs1-2,670274352,18618732,None,36.0
2,SRP002605,SRX021967,GSM546921: mRNASeq_mock_32hr_runs1-3,SRR057513,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546921: mRNASeq_mock_32hr_runs1-3,159276276,4424341,None,36.0
3,SRP002605,SRX021967,GSM546921: mRNASeq_mock_32hr_runs1-3,SRR057515,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546921: mRNASeq_mock_32hr_runs1-3,92929104,2581364,None,36.0
4,SRP002605,SRX021968,GSM546922: Footprint_miR-155_32hr_runs1-2,SRR057516,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546922: Footprint_miR-155_32hr_runs1-2,212446440,5901290,None,36.0
5,SRP002605,SRX021968,GSM546922: Footprint_miR-155_32hr_runs1-2,SRR057517,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546922: Footprint_miR-155_32hr_runs1-2,522725688,14520158,None,36.0
6,SRP002605,SRX021969,GSM546923: mRNASeq_miR-155_32hr_runs1-3,SRR057518,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546923: mRNASeq_miR-155_32hr_runs1-3,216374004,6010389,None,36.0
7,SRP002605,SRX021969,GSM546923: mRNASeq_miR-155_32hr_runs1-3,SRR057519,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546923: mRNASeq_miR-155_32hr_runs1-3,207243972,5756777,None,36.0
8,SRP002605,SRX021969,GSM546923: mRNASeq_miR-155_32hr_runs1-3,SRR057520,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546923: mRNASeq_miR-155_32hr_runs1-3,94523436,2625651,None,36.0
9,SRP002605,SRX021970,GSM546924: Footprint_miR-1_32hr_runs1-2,SRR057521,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546924: Footprint_miR-1_32hr_runs1-2,212789088,5910808,None,36.0
10,SRP002605,SRX021970,GSM546924: Footprint_miR-1_32hr_runs1-2,SRR057522,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546924: Footprint_miR-1_32hr_runs1-2,510414552,14178182,None,36.0
11,SRP002605,SRX021971,GSM546925: mRNASeq_miR-1_32hr_runs1-3,SRR057524,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546925: mRNASeq_miR-1_32hr_runs1-3,204962256,5693396,None,36.0
12,SRP002605,SRX021971,GSM546925: mRNASeq_miR-1_32hr_runs1-3,SRR057525,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546925: mRNASeq_miR-1_32hr_runs1-3,89765496,2493486,None,36.0
13,SRP002605,SRX021972,GSM546926: Footprint_mock_12hr_run1,SRR057526,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546926: Footprint_mock_12hr_run1,733189464,20366374,None,36.0
14,SRP002605,SRX021973,GSM546927: mRNASeq_mock_12hr_runs1-2,SRR057527,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546927: mRNASeq_mock_12hr_runs1-2,966335760,26842660,None,36.0
15,SRP002605,SRX021973,GSM546927: mRNASeq_mock_12hr_runs1-2,SRR057528,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546927: mRNASeq_mock_12hr_runs1-2,68137020,1892695,None,36.0
16,SRP002605,SRX021974,GSM546928: Footprint_miR-155_12hr_run1,SRR057529,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546928: Footprint_miR-155_12hr_run1,728406504,20233514,None,36.0
17,SRP002605,SRX021975,GSM546929: mRNASeq_miR-155_12hr_runs1-2,SRR057530,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546929: mRNASeq_miR-155_12hr_runs1-2,979016184,27194894,None,36.0
18,SRP002605,SRX021975,GSM546929: mRNASeq_miR-155_12hr_runs1-2,SRR057531,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546929: mRNASeq_miR-155_12hr_runs1-2,89522964,2486749,None,36.0
19,SRP002605,SRX021976,GSM546930: Footprint_miR-1_12hr_run1,SRR057532,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546930: Footprint_miR-1_12hr_run1,677440620,18817795,None,36.0
20,SRP002605,SRX021977,GSM546931: mRNASeq_miR-1_12hr_runs1-2,SRR057533,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546931: mRNASeq_miR-1_12hr_runs1-2,921246408,25590178,None,36.0
21,SRP002605,SRX021977,GSM546931: mRNASeq_miR-1_12hr_runs1-2,SRR057534,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546931: mRNASeq_miR-1_12hr_runs1-2,87452964,2429249,None,36.0
22,SRP002605,SRX021967,GSM546921: mRNASeq_mock_32hr_runs1-3,SRR057514,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546921: mRNASeq_mock_32hr_runs1-3,239528394,4435711,None,54.0
23,SRP002605,SRX021971,GSM546925: mRNASeq_miR-1_32hr_runs1-3,SRR057523,9606,cDNA,SINGLE -,RNA-Seq,TRANSCRIPTOMIC,GSM546925: mRNASeq_miR-1_32hr_runs1-3,287181396,5318174,None,54.0

In [14]:
df = db.sra_convert('SRP098789')
db.download(df=df, ascp_bin='/usr/bin/ascp')

b''
b'Session Stop  (Error: Client unable to connect to server (check UDP port and firewall))'

KeyboardInterrupt: