In [1]:
from pysradb import download_geodb_file, GEOdb

In [2]:
download_geodb_file()

GEOmetadb.sqlite.gz: 444MB [00:14, 32.2MB/s]

Extracting /panfs/cmb-panasas2/skchoudh/github_projects/pysradb/notebooks/GEOmetadb.sqlite.gz ...
Done!
Metadata associated with /panfs/cmb-panasas2/skchoudh/github_projects/pysradb/notebooks/GEOmetadb.sqlite:
                 name                value
0      schema version                  1.0
1  creation timestamp  2018-12-01 21:26:27

In [3]:
geo_db = GEOdb('./GEOmetadb.sqlite')

In [4]:
geo_db.gse_metadata('GSE114314')

,ID,contact,contributor,gse,last_update_date,overall_design,pubmed_id,repeats,repeats_sample_list,status,submission_date,summary,supplementary_file,title,type,variable,variable_description,web_link
0,99805.0,Name: Robert Ivanek;\tPhone: +41 61 328 5026;\...,"Patrick,,Rodrigues Fernandes ;\tRobert Ivanek;...",GSE114314,2018-06-22,Bulk RNA Seq was performed from sort purified ...,29925996,None,None,Public on Jun 22 2018,2018-05-10,Plasmacytoid dendritic cells (pDCs) are an im...,None,A distinct lineage of origin reveals heterogen...,Expression profiling by high throughput sequen...,None,None,None

In [ ]:
1723137 2478174 3151382 4779223 5400669 6689291 7250343 8193109 9230038 0264222

In [5]:
geo_db.gse_to_gsm('GSE114314')

          gse         gsm
0   GSE114314  GSM3139409
1   GSE114314  GSM3139410
2   GSE114314  GSM3139411
3   GSE114314  GSM3139412
4   GSE114314  GSM3139413
5   GSE114314  GSM3139414
6   GSE114314  GSM3139415
7   GSE114314  GSM3139416
8   GSE114314  GSM3139417
9   GSE114314  GSM3139418
10  GSE114314  GSM3139419
11  GSE114314  GSM3139420
12  GSE114314  GSM3139421
13  GSE114314  GSM3139422
14  GSE114314  GSM3139423
15  GSE114314  GSM3139424

In [6]:
geo_db.gsm_metadata('GSM3139409')

Empty DataFrame
Columns: []
Index: []

In [7]:
geo_db.geo_convert('GSM3139409')

     from_acc     to_acc to_type
0  GSM3139409  GSE114314     gse
1  GSM3139409  GSE114315     gse

In [8]:
geo_db.guess_srp_from_gse('GSE114314')